@charset "utf-8";





@media (max-width:768px){

         #box{height: auto; width: 100%;}
         #top{top: 0; width: 100%; height: 50px; background-color: #ffffffb7; position: fixed; text-align: center; z-index: 1;}
         #top img{top: 0; height: 50px; width: auto; }


         /* 예매하기 버튼 */
         #order_area{bottom: 0; position: fixed; width: 100%; height: auto; display: flex; margin: 1% auto;}
         #butt{width: 98%; height: 50px; margin: 0% auto; background: #604cdb; color: #F2F2F2; font-size: 22px; font-weight: 900; border-radius: 10px;
         border: none; letter-spacing: 40px; text-align: center;}
         #butt:hover{background-color: #4937b5; color: #fff; cursor: pointer; }
         

         /* 메뉴아이콘 */
         #menu{cursor: pointer; }

         #menu-icon{position: fixed; top: 10px; right: 10px; height: 40px; width:40px; cursor: pointer;}
         .line1{background-color: black; width: 30px; height: 4px;display: block; margin: 5px auto; }

         .overlay{height: 100%; width: 0; position: fixed; z-index: 1003; top:0; left: 0;background-color: #fff; overflow-x: hidden; transition: 0.5s;}
         .overlay-menu{position: relative;top: 25%;width: 100%;text-align: center; display: block;margin-top: 20px;}
        .overlay a{padding: 10px; line-height: 160%; text-decoration: none; font-size: 40px; color: #333; transition: 0.3s; font-weight: 700; display: block;}
        .overlay a:hover, .overlay a:focus{color: #604cdb;}
        .overlay .closebtn{position: absolute; top: 20px; right: 45px; font-size: 60px;}
}

@media(min-width:768px) and (max-width:1399px){

      #box{height: auto; width: 100%;}
      #top{width: 100%; height: 80px; background-color: #ffffffb7; position: fixed; top: 0;display: flex; align-items: center;z-index: 1;}
     #top img{width: auto; height: 80px; position: absolute; left: 5%;}


      /* 예매하기 버튼 */
      #order_area{top: 15px; position: fixed; width: 100%; height: auto; display: flex; margin:  auto;}
      #butt{width: 20%; height: 50px; margin: 0% auto; background: #604cdb; color: #F2F2F2; font-size: 20px; font-weight: 900; border-radius: 10px;
      border: none; margin-right: 5%;}
      #butt:hover{background-color: #4937b5; color: #fff; cursor: pointer;  }

      /* 메뉴아이콘 */
     #menu{position: fixed; cursor: pointer;}

     #menu-icon{position: fixed; top: 50%; right: 10px; height: 40px; width:40px; margin-right: 5%; display: flex; cursor: pointer;}
     #menu-line{background-color: #fff; padding: 20%; border-radius: 100%; position: absolute;}
     .line1{background-color: #333; width:35px; height: 4px; display: block; margin: 5px auto;}

     .overlay{height: 100%; width: 0; position: fixed; z-index: 103; top:0; left: 0;background-color: #fff; overflow-x: hidden; transition: 0.5s;}
     .overlay-menu{position: relative;top: 25%;width: 100%;text-align: center; display: block;margin-top: 20px;}
    .overlay a{padding: 10px; line-height: 160%; text-decoration: none; font-size: 50px; color: #333; transition: 0.3s; font-weight: 700; display: block;}
    .overlay a:hover, .overlay a:focus{color: #604cdb;}
    .overlay .closebtn{position: absolute; top: 20px; right: 45px; font-size: 60px;}
  
}

@media(min-width:1400px){

         #box{height: auto; width: 100%;}
         #top{width: 100%; height: 80px; background-color: #ffffffb7; position: fixed; top: 0;display: flex; align-items: center; z-index: 1;}
         #top img{width: auto; height: 80px; position: absolute; left: 7%;}

          /* 예매하기 버튼 */
          #order_area{top: 15px; position: fixed; width: 100%; height: auto; display: flex; margin:  auto;}
          #butt{width: 10%; height: 50px; margin: 0% auto; background: #604cdb; color: #F2F2F2; font-size: 20px; font-weight: 900; border-radius: 10px;
          border: none; margin-right:7%;}
          #butt:hover{background-color: #4937b5; color: #fff; cursor: pointer;  }

          /* 메뉴아이콘 */
         #menu{position: fixed; cursor: pointer; }

         #menu-icon{position: fixed; top: 50%; right: 10px; height: 40px; width:40px; margin-right: 7%; display: flex; cursor: pointer;}
         #menu-line{background-color: #fff; padding: 20%; border-radius: 100%; position: absolute;}
         .line1{background-color: #333; width:35px; height: 4px; display: block; margin: 5px auto;}

         .overlay{height: 100%; width: 0; position: fixed; z-index: 103; top:0; left: 0;background-color: #fff; overflow-x: hidden; transition: 0.5s;}
         .overlay-menu{position: relative;top: 25%;width: 100%;text-align: center; display: block;margin-top: 20px;}
        .overlay a{padding: 10px; line-height: 160%; text-decoration: none; font-size: 60px; color: #333; transition: 0.3s; font-weight: 700; display: block;}
        .overlay a:hover, .overlay a:focus{color: #604cdb;}
        .overlay .closebtn{position: absolute; top: 20px; right: 45px; font-size: 60px;}
}